:root {
    --main-theme-color: #cb1b0b;           /* background color for website head*/
    --text-header-color: #F0FFF0;   /* text color for website header*/
    --header-font-size: 2rem;          /* Font size for Website Header*/

    --body-text-color: #07020D;
    --body-border-color: #929696;

    --img-detail-size: 20vh;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Arial, sans-serif;
  color: #222;
}

.site-header{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--main-theme-color);

    padding: .5rem;
    padding-left: 3rem;

    justify-content: left;
    align-items: center;
}

.website-brand{
    display: flex;
    justify-content: center;
    align-items: center;

    color: #f2f2f2; 
    font-weight: bold;
    font-size: var(--header-font-size);
    text-decoration: none;
}

.item-detail-body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 

    margin-top: 5vh;
    margin-left: 15vw;
    margin-right: 15vw;

    padding: 1rem;
    border: var(--body-border-color) solid 1px;
    border-radius: 10px;
    color: var(--body-text-color); 
}

.attraction-details img{
    width: auto;
    height: 10rem;
    border-radius: 10px;
}


.review-list{
    list-style: none;

}

button{
    padding: 0.5rem 1rem;
    border: 1px solid #e7dcc4;
    border-radius: 6px;
    background: var(--main-theme-color);
    color: #F0FFF0;
    cursor: pointer;
    margin-left: auto;
}

.site-navigation { display: flex; flex: 1; gap: clamp(1rem, 1.5vw, 2.75rem); font: 0.8rem Arial, sans-serif; text-transform: uppercase; letter-spacing: 0.12em; }
.site-navigation a { transform: translateY(1px); text-decoration: none; color: var(--text-header-color); font-weight: 600; }

.site-navigation .button-login {
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-left: auto;
    margin-top: 0.5rem;
    margin-right: 1.5rem;
    margin-bottom: 0.5rem;   
    border-radius: 6px;
    background: #fbfaf5;
    width: 6.5rem;
    height: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.2); 
    color: #000000; 
}

.bottom-city-fader {
    position: relative;
    width: 100%;
    height: 300px;
    margin-top: 4rem;
    overflow: hidden;
    opacity: 0.5;
}

.faded-city-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.bottom-city-fader::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to bottom, 
        #fbfaf5 0%,
        #fbfaf5 15%, 
        rgba(251, 250, 245, 0) 60% 
    );
    pointer-events: none;
}